<div>
  <nav class='navbar navbar-default'>
      <div class='container-fluid'>
          <a class='navbar-brand'>{{pageTitle}}</a>
          <ul class='nav navbar-nav'>
              <li><a [routerLink]="['/welcome']">Home</a></li>
              <li><a [routerLink]="['/reports']">Task Reports</a></li>
              <li><a [routerLink]="['/taskgraphs']">Tasks Graphs</a></li>
          </ul>
      </div>
      <!-- Reports and Graphs Components and Router Module are not defined yet -->
  </nav>
  <div class='container'>
      <router-outlet></router-outlet>
  </div>
</div>